.Vista1{
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 100%;
    display:block;
    background-image: url("/static/images/fondo-pagina.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-size:cover;
    position: fixed;
    background-color: #619DD1;
}
.Vista2{
    margin: auto;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/images/fondo-pagina.png");
    background-repeat: no-repeat;
    background-color: #619DD1;
}

.Vista3{
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 970px;
    background-image: url("/static/images/Walter-crear-sala.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #619DD1;
}
.Vista4{
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 970px;
    background-image: url("/static/images/Walter-ingresar-sala.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #619DD1;
}
.Vista5{
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 970px;
    background-image: url("imagenes/Walter-pupilo-vista.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #619DD1;

}
.Vista6{
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 970px;
    background-image: url("imagenes/Walter-admin-vista.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #619DD1;

}
h1{
    position:absolute;
    top: 720px;
    left: 525px;
}
h2{
    position:absolute;
    top: 250px;
    left: 710px;
}
h3{
    position:absolute;
    top: 680px;
    left: 510px;
}
h4{
    position:absolute;
    top: 790px;
    left: 540px;
}
h5{
    position:absolute;
    top: 785px;
    left: 530px;
}
h6{
    position:absolute;
    top: 370px;
    left: 300px;
}
h7{
    position:absolute;
    top: 370px;
    left: 480px;
}
h8{
    position:absolute;
    top: 400px;
    left: 710px;
}
h9{
    position:absolute;
    top: 300px;
    left: 720px;
}